$main_color: #418e6f;
$black: #202020;
$gray: #808080;
$lightGray: #e0e0e0;
$white: #eeeeee;
$red: #dd4444;
li {
  list-style: none;
  margin: 0.4rem 0;
  border: 1px solid $lightGray;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: $lightGray 1px 4px 4px 2px;

  a {
    text-decoration: none;
    color: $black;
  }

  button {
    all: unset;
    margin-left: 1rem;
    background-color: $red;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    color: $white;
    &:hover {
      cursor: pointer;
      background-color: darken($red, 10%);
    }
  }
}
